.title{
    text-align: center;
    color: rgb(69, 2, 90);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 32px;
    color:rgb(44, 1, 57);
    margin-top: 5px;
    text-transform: none ;
}